.button{
  font-size: 20px;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 1em auto 0 auto;
  border-radius: 2em;
  border: none;
  background-color:  rgb(254, 168, 20);
  color: white;
  cursor: pointer;
}